---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: authenticationfilters.gateway.nginx.org
spec:
  group: gateway.nginx.org
  names:
    categories:
    - nginx-gateway-fabric
    kind: AuthenticationFilter
    listKind: AuthenticationFilterList
    plural: authenticationfilters
    shortNames:
    - authfilter
    - authenticationfilter
    singular: authenticationfilter
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          AuthenticationFilter configures request authentication and is
          referenced by HTTPRoute and GRPCRoute filters using ExtensionRef.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec defines the desired state of the AuthenticationFilter.
            properties:
              basic:
                description: Basic configures HTTP Basic Authentication.
                properties:
                  realm:
                    description: |-
                      Realm used by NGINX `auth_basic` directive.
                      https://nginx.org/en/docs/http/ngx_http_auth_basic_module.html#auth_basic
                      Also configures "realm="<realm_value>" in WWW-Authenticate header in error page location.
                    type: string
                  secretRef:
                    description: SecretRef references a Secret containing credentials
                      in the same namespace.
                    properties:
                      name:
                        description: Name is the name of the referenced object.
                        type: string
                    required:
                    - name
                    type: object
                required:
                - realm
                - secretRef
                type: object
              oidc:
                description: OIDC configures OpenID Connect Authentication.
                properties:
                  caCertificateRefs:
                    description: |-
                      CACertificateRefs references a secret containing trusted CA certificates
                      in PEM format used to verify the certificates of the OpenID Provider endpoints.
                      The CA certificates must be stored in a key named `ca.crt`.
                      If not specified, the system CA bundle is used.

                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#ssl_trusted_certificate
                      NGINX Default: system CA bundle
                    items:
                      description: LocalObjectReference specifies a local Kubernetes
                        object.
                      properties:
                        name:
                          description: Name is the name of the referenced object.
                          type: string
                      required:
                      - name
                      type: object
                    maxItems: 8
                    type: array
                  certificateRevocationList:
                    description: |-
                      CertificateRevocationList references a Secret containing a certificate
                      revocation list in PEM format. The CRL must be stored in a key
                      named `ca.crl`. This is used to verify that certificates presented
                      by the OpenID Provider endpoints have not been revoked.
                    properties:
                      name:
                        description: Name is the name of the referenced object.
                        type: string
                    required:
                    - name
                    type: object
                  clientID:
                    description: |-
                      ClientID is the client identifier registered with the OpenID Provider.
                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#client_id
                    minLength: 1
                    type: string
                  clientSecret:
                    description: |-
                      The Kubernetes secret which contains the OIDC client secret to be used in the
                      [Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest).
                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#client_secret

                      This is an Opaque secret. The client secret should be stored in the key
                      "client-secret".
                    properties:
                      name:
                        description: Name is the name of the referenced object.
                        type: string
                    required:
                    - name
                    type: object
                  configURL:
                    description: |-
                      ConfigURL sets a custom URL to retrieve the OpenID Provider metadata.
                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#config_url
                      NGINX Default: <issuer>/.well-known/openid-configuration
                    pattern: ^https://[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?(\.[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?)*(:[0-9]{1,5})?(/[a-zA-Z0-9._~:/?@!$&'()*+,;=-]*)?$
                    type: string
                  extraAuthArgs:
                    additionalProperties:
                      type: string
                    description: |-
                      ExtraAuthArgs sets additional query arguments for the authentication request URL.
                      Arguments are appended with "&". For example: "prompt=consent&audience=api".
                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#extra_auth_args
                    type: object
                  issuer:
                    description: |-
                      Issuer is the URL of the OpenID Provider.
                      Must exactly match the "issuer" value from the provider's
                      .well-known/openid-configuration endpoint.
                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#issuer
                      Examples:
                        - Keycloak: "https://keycloak.example.com/realms/my-realm"
                        - Okta: "https://dev-123456.okta.com/oauth2/default"
                        - Auth0: "https://my-tenant.auth0.com/"
                    pattern: ^https://[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?(\.[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?)*(:[0-9]{1,5})?(/[a-zA-Z0-9._~:/?@!$&'()*+,;=-]*)?$
                    type: string
                  logout:
                    description: Logout defines the logout behavior for OIDC authentication.
                    properties:
                      frontChannelLogoutURI:
                        description: |-
                          FrontChannelLogoutURI defines the path for front-channel logout.
                          The OpenID Provider should be configured to set "iss" and "sid" arguments.
                          Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#frontchannel_logout_uri
                        pattern: ^(https?://[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?(\.[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?)*(:[0-9]{1,5})?)?(/[a-zA-Z0-9._~:/?@!$&'()*+,;=-]*)?$
                        type: string
                      postLogoutURI:
                        description: |-
                          PostLogoutURI defines the path to redirect to after logout.
                          Must match the configuration on the provider's side.
                          Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#post_logout_uri
                          Example: /logged_out.html
                        pattern: ^(https?://[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?(\.[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?)*(:[0-9]{1,5})?)?(/[a-zA-Z0-9._~:/?@!$&'()*+,;=-]*)?$
                        type: string
                      tokenHint:
                        description: |-
                          TokenHint adds the id_token_hint argument to the provider's Logout Endpoint.
                          Some OpenID Providers require this.
                          Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#logout_token_hint
                          NGINX Default: false
                        type: boolean
                      uri:
                        description: |-
                          URI defines the path for initiating session logout.
                          Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#logout_uri
                          Example: /logout
                        pattern: ^(https?://[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?(\.[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?)*(:[0-9]{1,5})?)?(/[a-zA-Z0-9._~:/?@!$&'()*+,;=-]*)?$
                        type: string
                    type: object
                  pkce:
                    description: |-
                      PKCE enables Proof Key for Code Exchange (PKCE) for the authentication flow.
                      If nil, NGINX automatically enables PKCE when the OpenID Provider requires it.
                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#pkce
                    type: boolean
                  scopes:
                    default:
                    - openid
                    description: |-
                      The OIDC scopes to be used in the Authentication Request.
                      The "openid" scope is always added to the list of scopes if not already
                      specified.
                      Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#scope
                    items:
                      type: string
                    type: array
                  session:
                    description: Session configures session management for OIDC authentication.
                    properties:
                      cookieName:
                        description: |-
                          CookieName sets the name of the session cookie.
                          Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#cookie_name
                          NGINX Default: NGX_OIDC_SESSION
                        type: string
                      timeout:
                        description: |-
                          Timeout sets the session timeout duration.
                          Directive: https://nginx.org/en/docs/http/ngx_http_oidc_module.html#session_timeout
                          NGINX Default: 8h
                        pattern: ^[0-9]{1,4}(ms|s|m|h)?$
                        type: string
                    type: object
                required:
                - clientID
                - clientSecret
                - issuer
                type: object
              type:
                description: Type selects the authentication mechanism.
                enum:
                - Basic
                - OIDC
                type: string
            required:
            - type
            type: object
            x-kubernetes-validations:
            - message: for type=Basic, spec.basic must be set
              rule: '!(!has(self.basic) && self.type == ''Basic'')'
            - message: for type=OIDC, spec.oidc must be set
              rule: '!(!has(self.oidc) && self.type == ''OIDC'')'
          status:
            description: Status defines the state of the AuthenticationFilter.
            properties:
              controllers:
                description: |-
                  Controllers is a list of Gateway API controllers that processed the AuthenticationFilter
                  and the status of the AuthenticationFilter with respect to each controller.
                items:
                  properties:
                    conditions:
                      description: Conditions describe the status of the SnippetsFilter.
                      items:
                        description: Condition contains details for one aspect of
                          the current state of this API Resource.
                        properties:
                          lastTransitionTime:
                            description: |-
                              lastTransitionTime is the last time the condition transitioned from one status to another.
                              This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                            format: date-time
                            type: string
                          message:
                            description: |-
                              message is a human readable message indicating details about the transition.
                              This may be an empty string.
                            maxLength: 32768
                            type: string
                          observedGeneration:
                            description: |-
                              observedGeneration represents the .metadata.generation that the condition was set based upon.
                              For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                              with respect to the current state of the instance.
                            format: int64
                            minimum: 0
                            type: integer
                          reason:
                            description: |-
                              reason contains a programmatic identifier indicating the reason for the condition's last transition.
                              Producers of specific condition types may define expected values and meanings for this field,
                              and whether the values are considered a guaranteed API.
                              The value should be a CamelCase string.
                              This field may not be empty.
                            maxLength: 1024
                            minLength: 1
                            pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                            type: string
                          status:
                            description: status of the condition, one of True, False,
                              Unknown.
                            enum:
                            - "True"
                            - "False"
                            - Unknown
                            type: string
                          type:
                            description: type of condition in CamelCase or in foo.example.com/CamelCase.
                            maxLength: 316
                            pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                            type: string
                        required:
                        - lastTransitionTime
                        - message
                        - reason
                        - status
                        - type
                        type: object
                      maxItems: 8
                      minItems: 1
                      type: array
                      x-kubernetes-list-map-keys:
                      - type
                      x-kubernetes-list-type: map
                    controllerName:
                      description: |-
                        ControllerName is a domain/path string that indicates the name of the
                        controller that wrote this status. This corresponds with the
                        controllerName field on GatewayClass.

                        Example: "example.net/gateway-controller".

                        The format of this field is DOMAIN "/" PATH, where DOMAIN and PATH are
                        valid Kubernetes names
                        (https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).

                        Controllers MUST populate this field when writing status. Controllers should ensure that
                        entries to status populated with their ControllerName are cleaned up when they are no
                        longer necessary.
                      maxLength: 253
                      minLength: 1
                      pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*\/[A-Za-z0-9\/\-._~%!$&'()*+,;=:]+$
                      type: string
                  required:
                  - controllerName
                  type: object
                maxItems: 16
                type: array
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
